.base-grid{

}
.base-grid table{
	border-collapse: collapse;
}
.base-grid-row:nth-child(even){
	background: #F2F5F9;
}
.base-grid-row.selected,
.base-grid-row.selected:nth-child(even){
	background: #bfd6eb;
}

.base-grid-container{

}
.base-grid-header-wrap{
	padding-right: 16px;
	background: #eee;
}
.base-grid-header{
	overflow: hidden;
}

.base-grid-header table{
	
}
.base-grid .base-grid-header .last{
	border-right-width: 0px;
}

.base-grid th{
	text-align: left;
	background: #eee;
	padding: 3px;
	font-weight: normal;
	border: 1px solid #ddd;
	border-bottom-width: 0;
	white-space: nowrap;
}
.base-grid th:hover{
	background: #DCEAEF;
}
.base-grid th.dummy:hover{
	background: #eee;	
}
.base-grid th{
	cursor: pointer;
}

.base-grid td{
	padding: 3px;
	border: 1px solid #ddd;
	white-space: nowrap;
}
.base-grid th span{
	vertical-align: bottom;
}