.base-grid{
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: auto;
	width: auto;
}
.base-grid table{
	border-collapse: collapse;
}
.base-grid-container{
	height: auto;
	width: auto;
	position: absolute;
	top:25px;
	left:0;
	right: 0;
	bottom: 0;
	overflow-y: scroll;
	overflow-x: auto;
}
.base-grid-container tr:nth-child(even){
	background: #F2F5F9;
}
.base-grid-container tr.selected,
.base-grid-container tr.selected:nth-child(even){
	background: #bfd6eb;
}

.base-grid-header-wrap{
	padding-right: 16px;
	background: #eee;
}
.base-grid-header{
	overflow: hidden;
}
.base-grid th{
	text-align: left;
	background: #eee;
	padding: 3px;
	font-weight: normal;
	border: 1px solid #ddd;
	border-bottom-width: 0;
	white-space: nowrap;
}
.base-grid th:hover{
	background: #DCEAEF;
}
.base-grid th{
	cursor: pointer;
}
.base-grid td{
	padding: 3px;
	border: 1px solid #ddd;
	white-space: nowrap;
}
.base-grid th span{
	vertical-align: bottom;
}